.login-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name {
    font-size: 13px;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: white;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.login-button,
.logout-button {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover,
.logout-button:hover {
    background-color: #0056b3;
}