.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 10px;
  gap: 10px
}

#galaxy {
  height: 70%;
}

span {
  color: rgba(175, 196, 212, 0.822);
  font-size: 2vmax;
}

#button {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: #95b4ce;
  box-shadow: 1px 1px 20px #95b4ce;
  cursor: pointer;
}

#speak {
  width: 100px;
}

p {
  font-size: 1.3vmax;
  color: white;
  text-align: center;
  padding: 0px 40px;
}

.response {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px
}

#ai {
  width: 50vh;
  height: 100px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  /* Set a dark background for better visibility of snow */
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1.5em;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}